.headtab
{
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
/* navbar */

.navbar-header
{
    position: absolute;
    width: 100%;
    left: 0;
    //text-align: center;
    margin:0 auto;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    text-align: center;
    margin:0 auto;
}

.bodybody
{
    margin-top: 55px;
}

.jumbotron
{
    position: relative;
    margin: 2%;
}

th, td {
    padding: 15px;
    text-align: left;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 7.5%;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20%; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 70%;
    font-size: 200%;
}

.sidenav .filter {
    display: block;
    width : 98%;
    margin: 0 auto;
}

.sidenav .submit {
    display: block;
    width : 98%;
    margin: 2% auto;
}

.btn-group{
    width: auto;
    margin: 0 auto;
}

.slider{
    width: 80%;
    margin: 0 auto;
}

.btns{
    width: 70%;
    margin: 0 auto;
}

